<form action='/register' method='POST'>
  Github Username <input type='text' name='github_username' value=""/><br/>
  <input type="hidden" name="history_key" value=1 />
  <input type='submit' value='Save'/>
</form>
